# My Jupyter Notebook on IBM Watson Studio

**Shezan Qureshi**

Desired occupation: Data Scientist

*I am interested in data science because Data science is being used by organizations across all industries, which means there are many job opportunities available. Secondly, it is a field that offers a high degree of job satisfaction as you will be solving complex problems and making a real impact on businesses and society.*

### This code simply displays "Even List"

In [3]:
print("Even List")

Even List

<li>Bulleted List Line 1</li>
<li>Bulleted List Line 2</li>
<li>Bulleted List Line 3</li>

<li>Numbered List Item 1</li>
<li>Numbered List Item 2</li>
<li>Numbered List Item 3</li>

A Table with centerd cell:
:-: <table>
    <thead>
    <tr>
    <th>Header 1</th>
<th>Header 2</th>
<th>Header 3</th>
</tr>
</thead>
<tbody>
<tr>
<td>Row 1</td>
<td>Cell</td>
<td>Cell</td>
</tr>
<tr>
<td>Row 2</td>
<td>Cell</td>
<td>Cell</td>
</tr>
<tr>
<td>Row 3</td>
<td>Cell</td>
<td>Cell</td>